@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-input {
		@apply py-2 px-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
	}

	.text-label {
		@apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
	}

	.cancel-btn {
		@apply
		text-gray-700 hover:bg-gray-50 border-gray-300 border bg-white font-medium px-3 py-1 rounded text-sm
	}

	.save-btn {
		@apply
		disabled:bg-blue-300 font-medium bg-blue-500 p-1 rounded px-3 py-1 hover:bg-blue-600 text-white text-sm
	}

	.ring-btn {
		@apply border border-gray-300 p-1.5 rounded hover:bg-gray-50 text-sm
	}

}

/** {*/
/*	@apply subpixel-antialiased*/
/*}*/
.sidebar-active {
	background-color: rgb(71, 114, 250, 0.1);
}

.bg-1 {
	background-color: #f8f8ff;
}

:root {
	--checkbox-size: 15px
}
.editor-input a{
	@apply text-blue-600
}
.editor-input a:hover{
	@apply underline
}
.bg-2 {
	background-color: #ecedf6;
}

.checkbox {
	@apply shrink-0 mt-0.5
	border-neutral-400/90
	rounded
	text-amber-500 focus:ring-0
	dark:bg-gray-700 dark:border-gray-600 h-4 w-4
	hover:bg-neutral-100
	disabled:hover:cursor-not-allowed
}

@media (min-width: 768px) {
	.rez{
		position: fixed;
	}
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


body, html {
	@apply bg-white dark:bg-gray-700 min-h-full text-base;
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}


div_ {
	border: 1px solid #ccc;
}


#sidebar {
	--tw-translate-x: -100%;
}

#menu-close-icon {
	display: none;
}

#menu-open:checked ~ #sidebar {
	--tw-translate-x: 0;
}

#menu-open:checked ~ * #mobile-menu-button {
	background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

#menu-open:checked ~ * #menu-open-icon {
	display: none;
}

#menu-open:checked ~ * #menu-close-icon {
	display: block;
}

@media (min-width: 768px) {
	#sidebar {
		--tw-translate-x: 0;
	}
}
