
/*.editor-container {*/
/*    margin: 20px auto 20px auto;*/
/*    border-radius: 2px;*/
/*    max-width: 600px;*/
/*    color: #000;*/
/*    position: relative;*/
/*    line-height: 20px;*/
/*    font-weight: 400;*/
/*    text-align: left;*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*}*/

.editor-inner {
    background: transparent;
    position: relative;
}

.editor-input {
    min-height: 150px;
    resize: none;
    font-size: 14px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    /*padding: 15px 10px;*/
    caret-color: #444;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    left: 0;
    font-size: 15px;
    user-select: none;
    /*display: inline-block;*/
    pointer-events: none;
}


.editor-link {
    color: rgb(33, 111, 219);
    text-decoration: none;
}


pre::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

pre::-webkit-scrollbar-thumb {
    background: #999;
}



.link-editor {
    position: absolute;
    z-index: 100;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    max-width: 300px;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: opacity 0.5s;
}

.link-editor .link-input {
    display: block;
    width: calc(100% - 24px);
    box-sizing: border-box;
    margin: 8px 12px;
    padding: 8px 12px;
    border-radius: 15px;
    background-color: #eee;
    font-size: 15px;
    color: rgb(5, 5, 5);
    border: 0;
    outline: 0;
    position: relative;
    font-family: inherit;
}

.link-editor div.link-edit {
    /*background-image: url(images/icons/pencil-fill.svg);*/
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    vertical-align: -0.25em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.link-editor .link-input a {
    color: rgb(33, 111, 219);
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 30px;
    text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
    text-decoration: underline;
}

.link-editor .button {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 2px;
}

.link-editor .button.hovered {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #eee;
}

.link-editor .button i,
.actions i {
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -0.25em;
}


button.item.dropdown-item-active {
    background-color: rgba(223, 232, 250, 0.3);
}

button.item.dropdown-item-active i {
    opacity: 1;
}



.editor-paragraph {
    margin: 0 0 15px 0;
    position: relative;
}

.toolbar {
    display: flex;
    margin-bottom: 1px;
    background: #fff;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    overflow: auto;
    height: 36px;
}

.toolbar button.toolbar-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 223, 223);
}

.toolbar button.toolbar-item.spaced {
    margin: 5px;
}

.toolbar .toolbar-item:hover:not([disabled]) {
    background-color: #eee;
}

.toolbar .toolbar-item.font-family .text {
    display: block;
    max-width: 40px;
}

.toolbar .toolbar-item .text {
    display: flex;
    line-height: 20px;
    vertical-align: middle;
    font-size: 14px;
    color: rgb(104, 104, 104);
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    text-align: left;
}


.PlaygroundEditorTheme__ol1 {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-position: inside;
}
.PlaygroundEditorTheme__ol2 {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-type: upper-alpha;
    list-style-position: inside;
}
.PlaygroundEditorTheme__ol3 {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-type: lower-alpha;
    list-style-position: inside;
}
.PlaygroundEditorTheme__ol4 {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-type: upper-roman;
    list-style-position: inside;
}
.PlaygroundEditorTheme__ol5 {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-type: lower-roman;
    list-style-position: inside;
}
.PlaygroundEditorTheme__ul {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    /*margin-left: 16px;*/
    list-style-position: inside;
}
PlaygroundEditorTheme__listItem {
    margin: 0 32px;
    list-style: auto;
}
.PlaygroundEditorTheme__listItemChecked,
.PlaygroundEditorTheme__listItemUnchecked {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 24px;
    padding-right: 24px;
    list-style-type: none;
    margin-top: 8px;
    outline: none;
}
.PlaygroundEditorTheme__listItemChecked {
    text-decoration: line-through;
}
.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before {
    content: "";
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
    cursor: pointer;
    display: block;
    background-size: cover;
    position: absolute;
}
.PlaygroundEditorTheme__listItemUnchecked[dir="rtl"]:before,
.PlaygroundEditorTheme__listItemChecked[dir="rtl"]:before {
    left: auto;
    right: 0;
}
.PlaygroundEditorTheme__listItemUnchecked:focus:before,
.PlaygroundEditorTheme__listItemChecked:focus:before {
    box-shadow: 0 0 0 2px #a6cdfe;
    border-radius: 2px;
}
.PlaygroundEditorTheme__listItemUnchecked:before {
    border: 1px solid #999;
    border-radius: 2px;
}
.PlaygroundEditorTheme__listItemChecked:before {
    border: 1px solid rgb(61, 135, 245);
    border-radius: 2px;
    background-color: #3d87f5;
    background-repeat: no-repeat;
}
.PlaygroundEditorTheme__listItemChecked:after {
    content: "";
    cursor: pointer;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    display: block;
    top: 7px;
    width: 4px;
    left: 6px;
    height: 8px;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
}
.PlaygroundEditorTheme__nestedListItem {
    list-style-type: none;
}
.PlaygroundEditorTheme__nestedListItem:before,
.PlaygroundEditorTheme__nestedListItem:after {
    display: none;
}
